@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body{

    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f55;
    width: 90%;
    height: 90vh;
    margin: auto;
    padding-down: auto;
    display: block;
    text-align: center;
    box-sizing: border-box;
    border: #000 solid 2px;
}

#loading{
    align-items: center;
    height: 10vh;
    margin: auto;
    /* size: 1cm 1cm; */
}

#profit-image{
    align-items: center;
    height: 60vh;
    margin: auto;
}

#loss-imgage{
    align-items: center;
    height: 80vh;
    margin: auto;
}