@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body{

    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f55;
    box-sizing: border-box;
    border: #000 solid 5px;
    height: 98vh;
    /* display: block; */
    text-align: center;
    /* max-width: 100%; */

}

label {
    /* display: block; */
    padding : 0.5rem;
}

#loading{
    align-items: center;
    height: 10vh;
    margin: auto;
    /* size: 1cm 1cm; */
}

#profit-image{
    align-items: center;
    height: 60vh;
    margin: auto;
}

#loss-image{
    align-items: center;
    height: 60vh;
    margin: auto;
}